:root {
  --graphite: #1d1c1a;
  --sandstone: #e4dcc6;
  --ivory: #f2f0eb;
  --pale-lime: #e3ecae;
  --terra-cotta: #dc4829;
  --magnolia: #ecb3cd;
  --indigo: #1f305f;
  --cerulean: #b8dac7;
  --olive: #5e612a;
  --body-font: "Work Sans", sans-serif;
  --logo-font: "ivyjournal", sans-serif;
}

.container-wrapper {
  background-color: var(--ivory);
  display: flex;
  font-family: var(--body-font);
  flex-direction: column;
  min-height: 100vh;
}

.navbar-brand.home-link {
  color: var(--graphite);
  font-family: var(--logo-font);
  font-size: 24px;
  font-weight: 300;
  padding: 0 0 20px 40px;
}

.nav-links {
  align-items: center;
  display: flex;
  font-family: var(--body-font);
  font-size: 18px;
  gap: 30px;
  margin-left: auto;
  padding: 0 20px 15px 0;
}

.nav-links a,
footer a,
#contact a {
  border-bottom: 2px solid transparent;
  color: var(--graphite);
  padding: 0;
  text-decoration: none;
  transition: border-color 0.3s ease;
}

#contact a {
  background-color: var(--pale-lime);
}

.nav-links a:hover,
footer a:hover,
#contact a:hover {
  border-bottom-color: var(--graphite);
}

nav button {
  color: var(--graphite);
  margin-right: 20px;
}

main {
  color: var(--graphite);
  padding: 150px;
}

.logo {
  font-family: var(--logo-font);
  font-weight: 300;
}

.landing-section {
  position: relative;
}

.landing-section h1 {
  color: var(--graphite);
  font-family: var(--body-font);
  font-weight: 500;
  font-size: 60px;
  margin-top: 100px;
  margin-bottom: 300px;
  text-align: center;
}

.landing-section h1 .logo {
  color: var(--graphite);
  font-family: var(--logo-font);
  font-weight: 300;
}

.overlay {
  background-color: var(--pale-lime);
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  font-family: var(--body-font);
  height: calc(100% - 46px);
  justify-content: center;
  left: 0;
  opacity: 0;
  padding: 25px;
  position: absolute;
  text-align: center;
  top: 0;
  transition: opacity 0.3s ease;
  width: 100%;
}

.overlay h3 {
  color: var(--graphite);
  font-family: var(--body-font);
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.overlay p {
  color: var(--graphite);
  font-size: 16px;
  margin-bottom: 25px;
}

span.accent {
  border: 1px solid var(--graphite);
  border-radius: 20px;
  color: var(--graphite);
  font-size: 14px;
  padding: 8px 16px;
}

.gallery:hover .overlay {
  opacity: 1;
}

.section-title-home {
  color: var(--ivory);
  font-weight: 500;
  margin-bottom: 25px;
}

.section-title-about {
  margin-bottom: 25px;
}

#work .gallery {
  color: var(--graphite);
  margin-bottom: 20px;
  margin: 0;
  padding: 0;
  position: relative;
}

#work .gallery img,
#work .gallery video {
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
  margin-bottom: 40px;
  transition: opacity 0.3s ease;
  width: 100%;
}

#about-home {
  align-items: center;
  background-color: var(--graphite);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 100px 0;
  text-align: center;
}

.about-text-home {
  color: var(--ivory);
  font-family: var(--body-font);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
  max-width: 100%;
  padding: 25px;
}

#about .call-to-action a {
  border-bottom: 2px solid transparent;
  color: var(--graphite);
  padding: 5px;
  text-decoration: none;
  transition: border-color 0.3s ease;
}

#about .call-to-action a:hover {
  border-bottom-color: var(--graphite);
}

.call-to-action a {
  border-bottom: 2px solid transparent;
  color: var(--ivory);
  font-size: 24px;
  padding: 5px;
  text-decoration: none;
  transition: border-color 0.3s ease;
}

.call-to-action a:hover {
  border-bottom-color: var(--ivory);
}

.material-symbols-outlined {
  vertical-align: middle;
}

.signature {
  margin-top: 25px;
  width: 150px;
}

#about .signature {
  display: block;
  margin-top: 25px;
}

#about,
#contact {
  padding: 50px 0;
  padding-bottom: 0;
}

.about-text,
.contact-text {
  color: var(--graphite);
  font-family: var(--body-font);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

span.material-symbols-outlined {
  margin-right: 5px;
}

/* Form */
.custom-form-group {
  margin-bottom: 20px;
}

.custom-form-group label {
  color: var(--graphite);
}

.custom-form-control {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--pale-lime);
  border-radius: 5px;
  background-color: var(--ivory);
  color: var(--graphite);
  transition: border-color 0.3s ease;
}

.custom-form-control:focus {
  outline: none;
  border-color: var(--graphite);
}

.custom-form-control textarea {
  resize: vertical;
}

.custom-submit-btn {
  background-color: var(--pale-lime);
  border: 2px solid var(--pale-lime);
  border-radius: 5px;
  color: var(--graphite);
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.custom-submit-btn:hover {
  background-color: var(--graphite);
  border: 2px solid var(--graphite);
  color: var(--ivory);
}

footer {
  margin-top: auto;
  background-color: var(--ivory);
  color: var(--graphite);
  font-family: var(--body-font);
  padding: 40px;
}

footer a {
  color: var(--graphite);
  text-decoration: none;
}

.icon {
  font-size: 24px;
  margin-left: 20px;
}

#about .icon,
#contact .icon {
  font-size: 24px;
  margin-left: 20px;
}

.about footer,
.contact footer {
  position: static;
  margin-top: auto;
  background-color: var(--ivory);
  color: var(--graphite);
  font-family: var(--body-font);
  padding: 40px;
}

/* Small devices */
@media (max-width: 576px) {
  .landing-section h1 {
    font-size: 24px !important;
    margin-bottom: 100px;
  }

  h1 .logo {
    font-size: 24px !important;
  }

  #about-home {
    padding: 50px;
    padding-left: 0;
    padding-right: 0;
  }

  #about-home .call-to-action span {
    font-size: 18px;
  }

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    position: relative;
  }

  .footer-info {
    margin-bottom: 20px;
  }
}

/* Medium devices */
@media (max-width: 768px) {
  .navbar-brand.home-link {
    font-size: 20px;
    padding: 0 0 15px 30px;
  }

  .nav-links {
    font-size: 16px;
    padding: 0 20px 15px 0;
    gap: 20px;
  }

  main {
    padding: 40px;
  }

  .landing-section h1,
  .landing-section h1 .logo {
    font-size: 40px;
    height: auto;
  }

  .overlay h3 {
    font-size: 20px !important;
  }

  .overlay p {
    font-size: 14px;
  }

  footer {
    padding: 30px;
  }
}

/* Large devices */
@media (max-width: 992px) {
  .navbar-brand.home-link {
    font-size: 20px;
    padding: 0 0 15px 30px;
  }

  .nav-links {
    font-size: 16px;
    padding: 0 20px 15px 0;
    gap: 20px;
  }

  main {
    padding: 40px;
  }

  .landing-section h1 {
    font-size: 40px;
    height: auto;
  }

  .landing-section h1 .logo {
    font-size: 40px;
  }

  .overlay h3 {
    font-size: 24px !important;
  }

  .overlay p {
    font-size: 18px !important;
  }

  footer {
    padding: 40px;
  }
}

/* Extra large devices */
@media (max-width: 1200px) {
  main {
    padding: 40px;
  }

  footer {
    padding: 50px;
  }
}
